---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
  Dynamic and innovative Computer Engineering Master’s student with a robust foundation in hardware-oriented machine learning, 
  developed through extensive academic projects using C, C++, and Verilog. Proficient in deploying sophisticated software solutions 
  in professional settings, utilizing Python and JavaScript to enhance system functionalities and user experiences. My time at Zoom Video 
  Communications helped me develop good oral and written communication skills since my job required communication with teams and customers
  from diverse technical (or non-technical) and cultural backgrounds. Eager to apply my technical expertise and communication prowess in a 
  challenging role in the semiconductor industry that builds cutting edge for machine learning.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="<b>Virginia Tech</b><br>Master of Science in Computer Engineering"
      subtitle="2023 to 2025, Blacksburg, US"
    >
    Key Courses:<br>
    <i>Computer Architecture, Compiler Optimizations, Operating Systems, Advanced Topics in Translator Design</i>
    </TimeLineElement>
    <TimeLineElement
      title="IIITDM Kancheepuram <br>Bachelor of Technology in Computer Science and Engineering"
      subtitle="2018 to 2022 at Chennai, India"
    >
    Key Courses:<br><i>Computer Architecture, Data Structures and Algorithms, Digital Logic Design, Pattern Recognition, Linear Algebra</i>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Engineer at Zoom Video Communications India"
      subtitle="From July 2022 to July 2023"
    >
    <ul class="list-disc" style="padding-left: 15px;">
      <li><b>Identified</b> and verified defects/bugs in ZoomPhone from customer reports</li>
      <li><b>Enhanced</b> system reliability by assisting developers in their resolution.</li>
      <li><b>Developed</b> an advanced diagnostic tool utilizing <b>Python, ReactJS, and MongoDB</b> to <b>extract and analyze critical data</b> from problem reports, significantly enhancing efficiency of issue resolution. This tool was widely adopted across Technical support and Service Engineering teams, improving team productivity.</li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineering Intern at Quantrium Tech"
      subtitle="From May to October Chennai, India"
    >
    <ul class="list-disc" style="padding-left: 15px;">
      <li>Engineered a cloud-based microservices architecture to deliver text summarization results from a pre-trained <b>LLM</b> using <b>FastAPI, Docker and RabbitMQ</b> demonstrating capabilities in modern software development and deployment.
      <li><b>Designed and Automated</b> report generation to <b>optimize</b> the process using the <b>Pandas and MongoDB aggregations</b>, significantly
         improving efficeincy and accuraccy while saving between 1 to 2 man-hours a day.</li>
    </ul>    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
